@tailwind base;
@tailwind components;
@tailwind utilities;


#preloader{
  background: #FFEDB7 url(../../../public/assets/preloader.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 2000;
  background-size: 19%;
}




:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
  background: url(../../../public/assets/main-bg\ .png) no-repeat center center fixed;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



